* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
}

/* #score {
  text-align: center;
}

#highscore {
  text-emphasis: center;
} */